<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Sprint Name</th>
      <th>Status</th>
      <th>Focus</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody id="sprints-output">
    <!-- Populate table  -->
    <% data.sprints.forEach(item => {%>
      <tr>
        <% for (const project of data.projects) {%>
          <% if (project.project_id === item.project_id) { %>
            <td><%=project.name%></td>
            <% break; %>
          <% } %>
        <% } %>
        <td>
          <form action="/read-sprint" method="GET">
            <div class="input-field">
              <input type="hidden" value="<%=item.sprint_id %>" name="sprint_id"/>
              <input type="submit" value="<%=item.name %>" name="submitData"/>
            </div>
          </form>
        </td>
        <td><%=item.sprint_status%></td>
        <td>
          <form action="/update-sprint-focus" method="POST" id="sprint-focus-form<%=item.sprint_id %>">
            <div class="input-field">
              <input type="hidden" value="<%=item.sprint_id %>" name="sprint_id"/>
              <% if (item.focus_flag > 0) {%>
                <input type="checkbox" name="sprint-focus-check" onclick="onlyOne(this)" value="<%=item.sprint_id %>" checked>
              <%} else { %>
                <input type="checkbox" name="sprint-focus-check" onclick="onlyOne(this)" value="<%=item.sprint_id %>">
              <%} %>
            </div>
          </form>
        </td>
        <td><%=item.start_date%></td>
        <td><%=item.due_date%></td>
        <td>  
          <form action="/update-sprint" method="GET">
            <div class="input-field">
              <input type="hidden" value="<%=item.sprint_id %>" name="sprint_id"/>
              <input type="submit" value="Update Sprint" name="submitData"/>
            </div>
          </form>
        </td>
        <td>  
          <form action="/delete-sprint" method="POST">
            <div class="input-field">
              <input type="hidden" value="<%=item.sprint_id %>" name="sprint_id"/>
              <input type="submit" value="Delete Sprint" name="submitData"/>
            </div>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>


<script>
  function onlyOne(checkbox) {
    let focusCount = 0;
    let checkboxes = document.getElementsByName('sprint-focus-check');
    checkboxes.forEach((item) => {
        if (item.checked) 
          focusCount++;
    });
    if (focusCount > 0) {
      checkboxes.forEach((item) => {
          // console.log(item.checked);
          if (item !== checkbox) item.checked = false;
      });
      document.getElementById(`sprint-focus-form${checkbox.value}`).submit();
      // checkbox.parentElement.submit();
    } else {
      checkbox.checked = true;
    }
  }
</script>