<table>
  <thead>
    <tr>
      <th>Sprint Name</th>
      <th>Status</th>
      <th>Focus</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Sprint Result</th>
      <th>Update</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody id="data-output">
    <!-- Populate table  -->
    <% data.forEach(item => {%>
      <tr>
        <td><%=item.name %></td>
        <td><%=item.status_flag%></td>
        <td> 
          <% if (item.focus_flag > 0) {%>
            &#10004;
          <%} else { %>
            &#10008;
          <%} %>
          
        </td>
        <td><%=item.start_date%></td>
        <td><%=item.due_date%></td>
        <td><%=item.sprint_result%></td>
        <td>  
          <form action="/update-sprint" method="GET">
            <div class="input-field">
              <input type="hidden" value="<%=item.sprint_id %>" name="sprint_id"/>
              <input type="submit" value="Update Sprint" name="submitData"/>
            </div>
          </form>
        </td>
        <td>  
          <form action="/delete-sprint" method="POST">
            <div class="input-field">
              <input type="hidden" value="<%=item.sprint_id %>" name="sprint_id"/>
              <input type="submit" value="Delete Sprint" name="submitData"/>
            </div>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>