<%- include('partials/header') -%>

<h1><%=title %></h1>
<% if(user) { %>



  <form action="/create-sprint" method="POST">
    <div class="input-field">
      <label for="newStatus">Project:</label>
      <select name="projects" id="project-drop-down">   
        <% data.forEach(item => {%>
          <% if (item.focus_flag == 1) { %>
            <option value="option<%=item.project_id %>" selected><%=item.name %></option>
          <% } else { %>
            <option value="option<%=item.project_id %>"><%=item.name %></option>
          <% } %>
        <% }); %>
      </select>
    </div>
    <div class="input-field">
      <label for="newName">Sprint Name:</label>
      <input type="text" name="newName" placeholder="(Default: New Sprint)"/>
    </div>
    <div class="input-field">
      <label for="newStatus">Status:</label>
      <input type="text" name="newStatus" placeholder="(Default: In Progress)"/>
    </div>
    <div class="input-field">
      <label for="newStartDate">Start Date:</label>
      <input type="date" name="newStartDate" value="<%= default_dates.start_date %>" class="date-input"/>
    </div>
    <div class="input-field">
      <label for="newDueDate">Due Date:</label>
      <input type="date" name="newDueDate" value="<%= default_dates.due_date %>" class="date-input" />
    </div>
    <div class="input-field">
      <br/>
      <input type="submit" value="Create Sprint" name="submitData"/>
    </div>
  </form>
<% } %>
<br /><br /><br />
<pre>
  <%= JSON.stringify(data, null, 2) %>
</pre>

<%- include('partials/footer') -%>