<%- include('partials/header') -%>

<h1><%=title %></h1>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Status</th>
      <th>Focus</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Update</th>
    </tr>
  </thead>

  <tbody id="data-output">
    <!-- Populate table  -->
    <% data.forEach(item => {%>
      <tr>
        <form action="/update-project" method="POST">
          <td>
            <div class="input-field">
              <input type="hidden" value="<%=item.project_id %>" name="project_id"/>
              <input type="text" name="newName" placeholder="<%=item.name %>" id="newName"/>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input type="text" name="newStatus" placeholder="<%=item.status_flag%>"/>
            </div>
          </td> 
          <td>
            <div class="input-field"> 
              <input type='hidden' value="0" name="project-focus">
              <% if (item.focus_flag > 0) {%>
                <input type="checkbox" name="project-focus" value="1" checked>
              <%} else { %>
                <input type="checkbox" name="project-focus"  value="0">
              <%} %>
            </div>
          </td>
          <td>
            <div class="input-field">
              <input type="date" name="newStartDate" value="<%=item.start_date %>"  class="date-input"/>
            </div> 
          </td>
          <td>
            <div class="input-field">
              <input type="date" name="newDueDate" value="<%=item.due_date%>" class="date-input" />
            </div>
          </td>
          <td>
            <div class="input-field"> 
              <input type="submit" value="Sumbit Changes" name="submitData"/>
            </div>
          </td>
        </form> 
      </tr>
    <% }); %>
  </tbody>
</table>


<pre>
  <%= JSON.stringify(data, null, 2) %>
</pre>

<script>
  function updateValue(checkbox) {
    if (checkbox.checked)
      checkbox.value = "1";
    else 
      checkbox.value = "0";
  }
</script>

<%- include('partials/footer') -%>